@media (max-width:1199px)
{
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 600;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19VGdeOcEg.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
        font-family: 'Roboto-Regular';
        src: url('/sourcess/font/font-header/Roboto-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    /* -------------------header-------------------- */
    .header_section{
        position: relative;
    }
    .header_content-wrap{
        padding: 15px;
    }
    /* -----search-mobile---- */
    .wrap-search-mobile{
        position: absolute;
        width: 100%;
        height: 0px;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffffff;
        transition: all 0.3s ease-in;
        display: block;
        opacity: 0;
        
    }
    .search-mo-input:checked  ~.wrap-search-mobile{
        transition: all 0.3s ease-in;
        height: 90px;
        opacity: 1;
    }
    .wrap-area-search-mobile{
        width: 100%;
        display: flex;
        padding: 20px 0;
    }
    .area-search-mobile-left{
        width: 92%;
        height: 100%;
    }
    .area-search-mobile-right{
        width: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .area-search-mobile-left input{
        height: 50px;
        width: 100%;
        border-radius: 25px;
        border: 1px solid gainsboro;
        padding-left:20px ;
        outline: none;
    }
    .area-search-mobile-right button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: #fccc00;
        color: black;
    }
    .area-search-mobile-right button:hover{
        background-color: #0a58ca;
        color: #ffffff;
    }
    /* ------search-mobile---- */
    .area_content{
        display: flex;
        align-items: center;
    }
    .area_content__bottom{
        flex: 1;
    }
    .area_content__top{
        display: none;
    }
    .area_logo{
        flex: 0 0 180px;
    }
    .social_top{
        display: none;
    }
    .nav_menu__list{
        font-size: 14px;
    }
    .nav_menu__list li{
        margin-right: 35px;
    }
    .area_content__bottom{
        padding-left: 10px;
    }
    .wrap_interaction li{
        margin-left: 10px;
    }
    .wrap_interaction button{
        width: 50px;
        height: 50px;
        border: 1px solid gainsboro;
    }
    .wrap_interaction button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrap_interaction i{
        font-size: 16px;
    }
    /* -----bar---- */
    .overlay_bar{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;background: rgba(0, 0, 0, 0.8);
        display: none;
    }
    .bar-1024{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 300px;
        max-width: 100%;
        background-color: #ffffff;
        transform: translateX(100%);
        transition: all 0.3s ease-in;
        display: block;
    }
    .bar-close{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
    }
    .bar-close label{
        margin-bottom: 0px;
    }
    .bar-close label i{
        font-size: 24px;
        color: black;
        cursor: pointer;
        transition: all 0.3s ease-in;
    }
    .bar-1024 label i:hover{
        color: red;
        transition: all 0.2s ease-in;
    }
    .wrap-img-1024 img{
        cursor: pointer;
    }
    .bar-mo-input:checked ~ .overlay_bar{
        display: block;
    }
    .bar-mo-input:checked ~ .bar-1024{
        transform: translateX(0);
        transition: all 0.3s ease-in;
    }
    .wrap_bar-1024{
        padding: 70px 30px 0px 30px;
    }
    .wrap_bar-1024 h3{
        margin-top: 30px;
        font-size: 26px;
        color: #002659;
        letter-spacing: -0.5px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
    .wrap_bar-1024 >p{
        margin-top: 20px;
        font-size: 16px;
        color: #777777;
        font-family: 'Roboto-Regular', sans-serif;
    }
    .wrap-ul-1024{
        margin-bottom: 50px !important;
    }
    .wrap-ul-1024 li{
        margin-left: 0px;
        background-color: black;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 8px;
        padding: 10px 20px 10px 20px;
        width: 80%;
        cursor: pointer;
    }
    .wrap-ul-1024 li:hover a{
        color: #0a58ca;
    }
    .wrap-ul-1024 li a{
        display: flex;
        align-items: center;
    }
    .wrap-ul-1024 a span:first-child{
        width: 36px;
        height: 36px;
        margin-right: 20px;
    }
    .wrap-ul-1024  li a{
        font-size: 18px;
        color: #ffffff;
        line-height: 18px;
    }
    .wrap-ul-1024 a span p{
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: 300;
        font-family: 'Roboto-Regular', sans-serif;
    } 
    .wrap-ul-1024 i{
        font-size: 36px;
    }
    .wrap-ul-1024 h5{
        font-weight: 600;
        color: #002659;
        letter-spacing: -0.5px;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }
    .ul-bottom-1024 li{
        border-radius: 100%;
        background-color: #eef1f6;
        margin: 0 5px; 
        width: 45px;
        height: 45px;
    }
    .ul-bottom-1024 li i{
        color: #002659; 
    }
    /* ------------section-2-------------- */
    .chung:hover .section-2_icon{
        transform: translateX(130px);
    }
    .chung:hover .section-2_icon-icon{
        transform: translateX(77px);
    }
    /* --------------section-3---------------- */
    .section-3{
        padding-bottom: 50px;
    }
    .wrap_section_3{
        flex-wrap:wrap;
        text-align: center;
        justify-content: center;
    }
    .wrap_section_3 a{
        margin-right: 40px;
        padding-bottom: 40px;;
    }
    /* ----------------section-4--------------- */
    .wrap_whatwedo-section-4{
        position: relative;
        margin-right: -75px;
    }
    .wrap_whatwedo-section-4 h2{
        text-align: left;
    }
    /* ---------------------section-5-------------- */
    .section-5-left span{
        font-size: 320px;
    }
    .section-5-left small{
        right: 40px;
    }
    .section-5-right{
        margin-left: -70px;
    }
    /* ---------------section-6--------- */
    .wrap-slide-6{
        margin: 0 -35px;
    }
    /* ----------------section-7--------- */
    .wrap_whatwedo-section-7 h2{
        font-size: 55px;
    }
    .wrap-content-1{
        width: 397px;
    }
    .bacground-section-7{
        width: 400px;
    }
    .wrap-content-2-2{
        width: 100%;
    }
    .wrap-btn-7-7{
        width: 14%;
    }
    /* ---------------------footer------------ */
    .footer-1-social li{
        margin-right: 5px;
    }
    .wrap-footer-2{
        padding-left: 25px;
    }
    .wrap-footer-2 li{
        padding-bottom: 10px;
    }
    .wrap-footer-3{
        padding-left: 20px;
    }



    .btn_menu-mobile{
        display: none;
    }
}